
HOST=0.0.0.0
PORT=9621
WEBUI_TITLE='My Graph KB'
WEBUI_DESCRIPTION='Simple and Fast Graph Based RAG System'

INPUT_DIR=/app/inputs
WORKING_DIR=/app/rag_storage
LIGHTRAG_MODEL_DIR=/app/models
RAG_PARSER=mineru
RAG_WORKER_NUM=2
MINIO_KB_BUCKET=jonex-knowledge-base

OLLAMA_EMULATING_MODEL_TAG=latest

RERANK_BINDING=null

ENABLE_LLM_CACHE_FOR_EXTRACT=true

SUMMARY_LANGUAGE=English

MAX_ASYNC=4

MAX_PARALLEL_INSERT=2

LLM_BINDING=ollama
LLM_BINDING_HOST=http://host.docker.internal:11434
LLM_MODEL=qwen3.5:9b
LLM_TIMEOUT=600
OLLAMA_LLM_NUM_CTX=32768

OLLAMA_LLM_ENABLE_THINK=false

OLLAMA_LLM_NUM_CTX=32768

EMBEDDING_BINDING=openai
EMBEDDING_BINDING_HOST=http://host.docker.internal:11434/v1
EMBEDDING_BINDING_API_KEY=ollama
EMBEDDING_MODEL=bge-m3:567m
EMBEDDING_DIM=1024
EMBEDDING_TOKEN_LIMIT=8192
EMBEDDING_SEND_DIM=false

OLLAMA_EMBEDDING_NUM_CTX=8192

LIGHTRAG_KV_STORAGE=JsonKVStorage
LIGHTRAG_DOC_STATUS_STORAGE=JsonDocStatusStorage
LIGHTRAG_GRAPH_STORAGE=NetworkXStorage
LIGHTRAG_VECTOR_STORAGE=NanoVectorDBStorage

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=jonex
POSTGRES_PASSWORD=jonex123
POSTGRES_DATABASE=jonex
POSTGRES_MAX_CONNECTIONS=25

POSTGRES_VECTOR_INDEX_TYPE=HNSW
POSTGRES_HNSW_M=16
POSTGRES_HNSW_EF=200
POSTGRES_IVFFLAT_LISTS=100
POSTGRES_VCHORDRQ_BUILD_OPTIONS=
POSTGRES_VCHORDRQ_PROBES=
POSTGRES_VCHORDRQ_EPSILON=1.9

NEO4J_URI=neo4j+s://xxxxxxxx.databases.neo4j.io
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD='your_password'
NEO4J_DATABASE=neo4j
NEO4J_MAX_CONNECTION_POOL_SIZE=100
NEO4J_CONNECTION_TIMEOUT=30
NEO4J_CONNECTION_ACQUISITION_TIMEOUT=30
NEO4J_MAX_TRANSACTION_RETRY_TIME=30
NEO4J_MAX_CONNECTION_LIFETIME=300
NEO4J_LIVENESS_CHECK_TIMEOUT=30
NEO4J_KEEP_ALIVE=true

MONGO_URI=mongodb://localhost:27017/
MONGO_DATABASE=LightRAG

OPENSEARCH_HOSTS=localhost:9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=LightRAG2026_!@
OPENSEARCH_USE_SSL=true
OPENSEARCH_VERIFY_CERTS=false

MILVUS_URI=http://milvus:19530
MILVUS_DB_NAME=lightrag

QDRANT_URL=http://localhost:6333

REDIS_URI=redis://redis:6379/0
REDIS_SOCKET_TIMEOUT=30
REDIS_CONNECT_TIMEOUT=10
REDIS_MAX_CONNECTIONS=100
REDIS_RETRY_ATTEMPTS=3

MEMGRAPH_URI=bolt://localhost:7687
MEMGRAPH_USERNAME=
MEMGRAPH_PASSWORD=
MEMGRAPH_DATABASE=memgraph
