VITE_ALLOWED_REDIRECT_ORIGINS=http://localhost:8080,http://localhost:5175,http://localhost:5176,http://localhost:5177
VITE_LOGIN=http://localhost:8080/login
VITE_AUTH_LOGIN_TICKET=/api/v1/auth/login-ticket
